body{
	background-image: url("images/strategy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
form{
	background-color: #000;
	opacity: 0.8;
	color: #fff;
	padding-bottom: 120px;
}
h1{
	margin-bottom: 5%;
}
.yell {
	color: #f6e2b9;
}
.blue{
	color: #b11226;
}
a{
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}

@media (max-width: 500px){
	body{
		background-size: contain;
	}
}